PORT=4003
DATABASE_URL=postgresql://centavo:centavo@localhost:5432/centavo_budgets
JWT_SECRET=cambia-este-secreto-en-produccion
NODE_ENV=development
TRANSACTIONS_SERVICE_URL=http://localhost:4002
AUTH_SERVICE_URL=http://localhost:4001
BROKER_URL=amqp://localhost:5672
